:root {
  /* #5656A4
    #FAD505
    #8DD685
    #DFE2DF 

    rgb(45, 113, 97)
    rgb(150, 0, 8)*/
  /* vars to hold colours */
  --text: #ffffff;
  --background: rgb(42, 57, 100);
  --accent1: #121212;
  --accent2: #3e4b81;
  --accent3: #40b374;
  /* --linktext:  */
}

body {
  /* spacing */
  background-color: var(--background);
  margin: 0;
  padding: 0;

  /* text  */
  font-size: 22px;
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* header CSS */

header {
  /* spacing */
  background-color: var(--accent1);
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: row;
  flex-basis: 100%;

  /* text  */
  text-decoration: none;
  color: var(--text);
}

header div {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

header img {
  width: 45px;
  height: auto;
}

header nav {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  /* spacing */
  justify-self: flex-end;
  align-self: flex-end;
  padding: 20px;
}

nav a {
  text-decoration: none;
  padding-left: 20px;
  color: var(--text);
  vertical-align: bottom;
}

nav a:hover {
  color: var(--accent3);
}

/* nav button CSS */
#menu {
  background-color: var(--accent1);
  appearance: none;
  border: none;
}

#menu::before {
  color: var(--text);
  content: "\2630";
}

.hidden {
  display: none !important;

}

/* banner */

.banner {
  /* spacing */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px;

  /* apperance */
  background-color: var(--accent2);
  color: var(--text);
  text-align: center;
  
}

.banner #closebanner {
  /* spacing */
  display: flex;

  /* apperance */
  background-color: var(--accent2);
  appearance: none;
  border: none;
  color: var(--text);
  padding: 10px;
}

#banner button:hover {
  color: var(--accent3);
}

/* base main CSS */
main {
  min-height: 1200px;
  /* min-height: 100; */
}

/* heroimg CSS */

.heroDiv {
  justify-content: center;
  margin: 0;
  padding: 0;

}

#hero-text {
  /* background-color: var(--accent2); */

  /* spacing */
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  height: 20%;
  width: 100%;

  /* position */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;



  position: absolute;
  /* top: 20%;
  left: 20%; */

}

#hero-text h2{
  margin: 0px;
}

#hero-text button {
  align-self: center;
  background-color: var(--accent3);
  color: var(--text);

  /* spacing */
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

}


.heroPhoto img {
  overflow: hidden;
  justify-self: center;
  width: 100%;
  height: auto;
}

/* cards CSS */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  color: var(--text);
}

.card {
  height: fit-content;
  background-color: var(--accent2);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.card-title {
  text-decoration: underline;
  text-decoration-color: var(--accent3);
}

#event-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 40%;
  row-gap: 10px;
}

.event {
  background-color: var(--accent1);
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: fit-content;
  width: auto;

  margin: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.event p {
  font-size: 18px;
  margin: 0px;
  padding: 5px;
  align-self: center;
}

#event-container img {
  width: 85%;
  height: auto;
  align-self: center;
}

/* spotlight css */

#spotlight-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  
  color: var(--text);
}

.spotlight-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent2);

  /* spacing */

  min-width: 400px;
  height: fit-content;
  width: 25%;
  padding: 10px;
  margin: 35px;

  /* text */
  text-decoration: none;
  color: var(--text);
}

.image-container {
  height: fit-content;
}

/* .spotlight-card img {
  width: 200px; 
  height: 100px;
} */

.spotlight-card a {
  text-decoration: none;
  color: var(--text);
}

.spotlight-card a:hover {
  color: var(--accent3);
  
}

/* join page CSS */

#joinpg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

#join-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent1);
  border-radius: 30px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
}

#submit {
  margin-top: 20px;
  color: var( --background);
  background-color: var( --accent3);
  border-radius: 10px;
  padding: 10px;
}

#submit:hover {
  color: var( --accent3);
  background-color: var( --accent2);
}

#description {
  display: flex;
  flex-direction: column;
  background-color: var(--accent2);
  border-radius: 30px;
  padding: 10px;
  margin: 20px;

}

form {
  /* apperance */
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 400px;

  
  /* spacing */
  padding-top: 20px;
  margin: 20px;
}

label {
  margin-top: 35px;
}

input {
  padding: 10px;
  border-radius:5px ;
}




/* landing page */

#landing-pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





/* discover */

#discover-pg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

#discover-pg #info-card-container{
  display: grid;
  grid-template-rows: .3fr 1fr;
}

#discover-pg .card{
  flex-direction: column;
  max-width: 500px;

  /* spacing */
  margin: 20px;
}

#image-container{
  /* spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;

  /* appearance */
  background-color: #121212;
}

#image-container img{
  width: 90%;
  height: auto;
  padding: 10px;
}




/* directory css*/

#directory-pg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#directory-pg div{
  padding-top: 20px;
  height: fit-content;
}

#directory-pg button{
  
  border-radius: 10px;
  padding: 10px;
}

.link{
  text-decoration: none;
  color: var(--text);
}

/* grid */

.grid{
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.grid .wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--accent2);
  border-radius: 5px;
  padding: 10px;
  margin: 20px;

  min-height: 300px;
  min-width: 500px;
}


/* list */

.list {
  
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  

}
.list .wrapper{
  background-color: var(--accent2);
  padding: 10px;
}

.list .wrapper:nth-child(odd) {
  background-color: var(--background);
}

.list img {
  display: none;
}




/* footer CSS */

footer {
  display: flex;
  flex: auto;
  color: var(--text);
  background-color: var(--accent1);
  text-align: center;
  padding: 15px;

  /* puts footer on the bottom */
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

footer p {
  font-size: 20px;
}




/*--------------------------------------- large screens ----------------------------------------*/


@media only screen and (min-width: 40em) {
  /* .card {
    height: 450px;
    width: 700px;
      
  } */

  header p {
    font-size: 25px;
  }

  header nav {
    /* spacing */
    flex-direction: row;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 20px;
  }

  main {
    min-height: 1500px;
    /* min-height: 100; */
  }

  #menu {
    display: none;
  }

    
  /* chamber css */


  #hero-text {
    background-color: var(--accent2);
    height: auto;
    width: auto;
    top: 20%;
    left: 20%;
  }
  
  #events {
    background-color: #121212;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  #event-container {
    display: flex;
    flex-direction: row;
  }
  .card-title {
    margin-left: 10px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 60px;
  }

  #spotlight-container{
    flex-direction: row;
    justify-content: space-evenly;
  }

  .event {
    outline: 1px solid var(--accent2);
  
  }

  #weather {
    margin-left: 2%;
  }

  /* join.html css */

  #joinpg {
    flex-direction: row;
  }

  #join-form {
    width: 30%;
  }

  /* discover CSS */
  #discover-pg {
    flex-direction: row;
    
  }

  #discover-pg #info-card-container{
    grid-template-rows: .2fr .5fr;
  }

  #image-container img:hover {

    outline: 1px solid var(--accent3);
  }

  /* directory CSS */

  #company-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
