@media only screen and (min-width: 32em) {


    /* nav CSS */
    nav {
        flex-direction: row;
        height: 5em;
    }
    
    nav a {
        padding-top: 30px;
        font-size: 30px;
        
        
    }


    /* card CSS */

    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
    }
    
    .card {
        height: 400px;
        width: 500px;
    
      }


}